<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bio Form</title>
    <link type="text/css" href="../styles/style.css" rel="stylesheet" />
</head>
<body>

    <main>
        <h1>Bio Data Form</h1>
        <p>Fill the form below</p>

        <h3><u>Student Information</u></h3>
        <div class="form-container">
            <div class="passport-box">
                <img src="" />
            </div>
            <div class="form-input-container">
              
                    <input type="text" placeholder="Surname" />
                    <input type="text" placeholder="First Name" />
                    <input type="text" placeholder="Last Name" />
                    <input type="text" placeholder="Class" />
                    <input type="text" placeholder="Squadron" />
                    <input type="text" placeholder="SVC No:" />
                    <input type="text" placeholder="Adminssion Date" />
                    <input type="text" placeholder="Blood Group" />
                    <input type="text" placeholder="Tribe" />
                    <input type="text" placeholder="State of Origin" />
                    <input type="text" placeholder="L.G.A" />
                    <input type="text" placeholder="Date of Birth" />
                    <input type="text" placeholder="Place of Birth" />
                    <input type="text" placeholder="Religion" />
                    <input type="text" placeholder="Address" />
                    <input type="text" placeholder="Hobbies" />

                    <h3><u>Guardian/Parent Information</u></h3>
                    <input type="text" placeholder="Guardian/Parent Name" />
                    <input type="text" placeholder="Relattionship" />
                    <input type="text" placeholder="Occupation" />
                    <input type="text" placeholder="Address" />
                    <input type="text" placeholder="State of Origin" />
                    <input type="text" placeholder="Telephone No:" />
                    <input type="text" placeholder="Name of Next of Kin" />

                    <a href="success.html"><button>Get Started</button></a>
         
            </div>
        </div>
    </main>

</body>
</html>