{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bio Form</title>
    <link type="text/css" href="{% static 'styles/style.css' %}" rel="stylesheet" />
</head>
<body>

    <main>
        <h1>Bio Data Form</h1>
        <p>Fill the form below</p>

        <h3><u>Student Information</u></h3>
        <div class="form-container">
            <div class="passport-box">
                <img src="" />
            </div>
            <div class="form-input-container">

                <form method="post">
                  <div class="long-form">
                      {{ student_form.as_p }}
                  </div>
                  {% csrf_token %}
                  <p><input type="submit" value="Submit Details"></p>

                </form>

            </div>
        </div>
    </main>

</body>
</html>